.litable-lists.el
.lsp-session-*
.mc-lists.el
.python-environments
/auto-save-list
/elpa
/eshell
/elfeed
/request
/lsp-cache
/url
/projectile-bookmarks.eld
/projectile.cache
/private/temporary
/tramp
/transient
